@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Grade Calculator";
}

@model ZachDFirstWebApp.Models.GradeCalculator 

<body>
    <h2>Grade Calculator</h2>
    <form class="m-1 p-1" method="post">
        <div class="form-group">
            <label asp-for="assignments">Assignments Percentage</label>
            <input asp-for="assignments" />
            <span asp-validation-for="assignments" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="groupP">Group Project Percentage</label>
            <input asp-for="groupP" />
            <span asp-validation-for="groupP" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="quizzes">Quizzes Percentage</label>
            <input asp-for="quizzes" />
            <span asp-validation-for="quizzes" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="exams">Exams Percentage</label>
            <input asp-for="exams" />
            <span asp-validation-for="exams" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="intex">INTEX Percentage</label>
            <input asp-for="intex" />
            <span asp-validation-for="intex" class="text-danger"></span>
        </div>

        @*@Html.HiddenFor(x => x.assignments)
        @Html.HiddenFor(x => x.groupP)
        @Html.HiddenFor(x => x.quizzes)
        @Html.HiddenFor(x => x.exams)
        @Html.HiddenFor(x => x.intex)*@

        @*<button type="submit" id="submitButton">Calculate Grade</button>*@

        <input type="submit" value="Submit Grade" id="submitButton" class="text-danger"/>

    </form>
    <div class="m-1 p-1">
        <div class="form-group">
            <label for="result1">Final Grade</label>
            <input id="result1" disabled />
        </div>
        <div class="form-group">
            <label for="result2">Final Letter Grade</label>
            <input id="result2" disabled />
        </div>
    </div>
     
</body>